/* @import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300..600&display=swap'); */
@import "tailwindcss";
@import "@nuxt/ui";

/* "brand-500": "#ff9a00",
"brand-black": "#252525",
"brand-black-light": "#333333",
"brand-bg": "#181818",
"brand-gray": "#ececec",
"brand-950": "#dddddd",
"brand-green": "#57A773",
"brand-blue": "#323b54",
"brand-white-smoke": "#F7F4F3",
"brand-charcoal": "#383F51",
"brand-light-yellow": "#FEFEE3",
"brand-raisin-black": "#252323", */

@theme static {
    --color-brand-50: #fffbea;
    --color-brand-100: #fff3c5;
    --color-brand-200: #ffe685;
    --color-brand-300: #ffd346;
    --color-brand-400: #ffbd1b;
    --color-brand-500: #ff9a00;
    --color-brand-600: #e27300;
    --color-brand-700: #bb4e02;
    --color-brand-800: #983c08;
    --color-brand-900: #7c310b;
    --color-brand-950: #481700;

    --color-black: oklch(21.342% 0 none);
    --color-black-50: oklch(26.032% 0 none);
    --color-black-100: oklch(25.615% 0 none);
    --color-black-200: oklch(24.776% 0 none);
    --color-black-300: oklch(23.503% 0 none);
    --color-black-400: oklch(22.645% 0 none);
    --color-black-500: oklch(21.342% 0 none);
    --color-black-600: oklch(20.019% 0 none);
    --color-black-700: oklch(19.125% 0 none);
    --color-black-800: oklch(17.764% 0 none);
    --color-black-900: oklch(16.842% 0 none);
    --color-black-950: oklch(16.376% 0 none);
}
html {
    scroll-behavior: smooth;
}

body{
    @apply bg-black-600  text-white;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.02rem;
}

body.menu-open, body.modal-open {
    overflow: hidden;
}

.container {
    @apply mx-auto max-w-5xl relative;
    width: calc(100% - 2rem);
}

.sm-container {
    @apply max-w-3xl;
}

.card {
    @apply bg-black-100;
}


/* h1,h2,h3,h4 {
    font-weight: 400;
    line-height: 1.15;
} */

/* .hero-title {
    @apply font-semibold text-7xl md:text-7xl text-white;
    line-height: 1;
} */

.subtitle {
    font-weight: 300;
    line-height: 1.3;
    @apply md:text-lg text-gray-950;
}

section {
    @apply py-12 md:py-16
}

p {
    @apply mb-4 md:mb-6;
}

.btn {
    @apply h-10 px-6 rounded-full inline-flex gap-3 items-center justify-center text-lg cursor-pointer;
}
.btn-primary {
    @apply bg-gray-200 text-black border-gray-200 border;
}
.btn-primary.btn-light {
    @apply bg-brand-500 border-brand-500 text-white ;
}

.btn-primary.btn-outline {
    @apply border-brand-500 text-brand-500 bg-brand-500/0;
}

.btn-secondary {
    @apply bg-brand-500/20 text-brand-500 border border-brand-500/0;
}

input {
    @apply rounded-lg border py-2 px-4 w-full border-black-600 outline-none;
}

textarea {
    @apply rounded py-2 px-4 w-full h-24 max-h-36 outline-none;
    min-height: 6rem;
}


.formkit-messages {
    @apply text-[#c62828];
}
.formkit-messages .formkit-message {
    @apply mt-1 text-xs;
}

.formkit-help {
    @apply text-xs opacity-70 mt-1;
}
.formkit-options {
    @apply p-4 border border-black-600 rounded
}
.formkit-option .formkit-wrapper, .formkit-cerere-terms .formkit-wrapper {
    @apply flex items-center gap-4;
}

.formkit-cerere-terms .formkit-wrapper {
    @apply cursor-pointer;
}

.card {
    @apply rounded-lg px-4 py-10 md:px-8 md:py-14 shadow-md bg-black-400 overflow-hidden;
}

.card.light {
    @apply bg-white text-black-950;
}

.blog-page .card {
    @apply py-4 md:py-8
}

.card-title, .title {
    @apply text-[1.75rem] md:text-4xl mb-6 md:mb-8;
    font-weight: 500;
}

.page-title {
    @apply text-3xl text-center md:text-5xl mb-8 md:mb-16;
    font-weight: 600;
}

input[type="range"]::-webkit-slider-thumb {
    width: 24px;
    -webkit-appearance: none;
    appearance: none;
    height: 24px;
    cursor: ew-resize;
    border-radius: 50%;
    @apply border-black-600 bg-brand-500;
}

.input-calculator {
    @apply rounded-lg bg-white/5 px-2 text-white border-0 outline-none font-bold text-2xl w-[8.5rem] text-right;
}


.input-calculator::-webkit-outer-spin-button,
.input-calculator::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
}


.cs-blur {
    isolation: isolate;
    position: relative;
    --cs-blur-top: auto;
    --cs-blur-right: auto;
    --cs-blur-bottom: auto;
    --cs-blur-left: auto;
}
.cs-blur::after {
    content: "";
    position: absolute;
    top: var(--cs-blur-top);
    right: var(--cs-blur-right);
    bottom: var(--cs-blur-bottom);
    left: var(--cs-blur-left);
    height: 20rem;
    width: 20rem;
    opacity: 0.075;
    z-index: -1;
    filter: blur(100px);
    @apply bg-brand-500;
    transform: translate(0, -50%);
}
.cs-blur.cs-blur--right::after {
    --cs-blur-right: 0;
}

.cs-blur.cs-blur--top::after {
    --cs-blur-top: 0;
}

.cs-blur.cs-blur--center::after {
    --cs-blur-right: 50%;
    --cs-blur-top: 50%;
    transform: translate(50%, -50%);
}

.divider {
    width: 100%;
    height: 1px;
    max-width: 1200px;
    background-image: linear-gradient(90deg, rgba(71, 71, 65, 0), #474741 50%, rgba(71, 71, 65, 0));
    margin-left: auto;
    margin-right: auto;
}

.bg-squares {
    background-color: #161616;
    background-image:
        linear-gradient(to right, #212121 1px, transparent 1px),
        linear-gradient(to bottom, #212121 1px, transparent 1px);
    background-size: 60px 60px;
    background-position: top center;
    position: absolute;
    inset: 0;
    z-index: -1;
}

/* Optional fade effect */
.bg-squares::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent, #161616 80%);
    pointer-events: none;
}



.richtext a {
    font-weight: bold;
    text-decoration: underline;
}

.richtext ul {
    list-style: disc;
    padding-left: 2rem;
    margin: 0;
}

.richtext img {
    margin: auto;
}

.richtext h3, .richtext h2 {
   @apply text-xl font-bold mb-6 mt-16;
}

.richtext h2 {
    @apply text-2xl;
}

.richtext b {
    @apply font-bold;
}

.richtext h2 + h3, .richtext>h3:first-of-type {
    @apply mt-0;
}


.menu-slide-enter-active,
.menu-slide-leave-active {
    transition: all 0.3s ease;
}

.menu-slide-enter-from,
.menu-slide-leave-to {
    opacity: 0;
    transform: translateY(56px);
}

.recenzii-divider:before, .recenzii-divider:after {
    content: "";
    height: 1px;
    width: 100%;
    opacity: 0.4;
}

.recenzii-divider:before {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.recenzii-divider:after {
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.pre-contract-table td {
    padding: 8px 6px;
    border: 1px solid;
    @apply border-black-600;
}

.pre-contract-table td:first-of-type {
    width: 40%;
}

.pre-contract-table td.table-subheader {
    @apply bg-brand-500/90 w-full;
}


.modal-container {
    animation: modalAnimation .4s forwards;
}

.to-close {
    animation: modalCloseAnimation .4s forwards;
}

@keyframes modalAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.75);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes modalCloseAnimation {
    0% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(20px) scale(.75);
    }
}