body{
    @apply bg-brand-bg text-brand-white-smoke font-light;
}

body.menu-open, body.modal-open {
    overflow: hidden;
}

body main {
    /* @apply pb-12; */
}

.container {
    @apply mx-auto max-w-5xl;
    width: calc(100% - 2rem)
}

.hero-title {
    @apply font-bold text-5xl md:text-8xl leading-tight text-white; 
}

.title {
    @apply font-semibold text-3xl md:text-5xl
}

.subtitle {
    @apply font-medium text-2xl md:text-4xl;
}



section {
    @apply py-12 md:py-16 
}

p {
    @apply mb-4 md:mb-6;
}

.btn {
    @apply h-10 px-8 rounded-full inline-flex gap-3 items-center text-lg;
}
.btn-primary {
    @apply bg-brand-white-smoke text-brand-black;
}
.btn-primary.btn-light {
    @apply bg-opacity-10 text-brand-white-smoke ;
}

.btn-secondary {
    @apply bg-brand-color text-brand-color bg-opacity-20
}

input {
    @apply rounded-full border py-2 px-4 w-full border-brand-black;
}

textarea {
    @apply rounded py-2 px-4 w-full h-24 max-h-36;
    min-height: 6rem;
}

.formkit-outer {
    @apply mt-6;
}

.formkit-messages {
    @apply text-red-600;
}

.card {
    @apply rounded-3xl p-6 md:p-10 shadow-md bg-brand-black;
}

.card.light {
    @apply bg-[#FBF5F3] text-brand-black;
}

.card-title {
    @apply font-medium text-2xl md:text-4xl mb-6 md:mb-8;
}

input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    cursor: ew-resize;
    border-radius: 50%;
    @apply bg-brand-color;
}

.input-calculator {
    @apply bg-transparent px-2 text-white focus:bg-gray-100  hover:bg-gray-100 hover:bg-opacity-10 focus:bg-opacity-10 duration-300 border-0 outline-none font-semibold text-3xl w-[8.5rem] text-right;
}

/* Chrome, Safari, Edge, Opera */
.input-calculator::-webkit-outer-spin-button,
.input-calculator::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.cs-blur {
    isolation: isolate;
    position: relative;
    --cs-blur-top: auto;
    --cs-blur-right: auto;
    --cs-blur-bottom: auto;
    --cs-blur-left: auto;
}
.cs-blur::after {
    content: "";
    position: absolute;
    top: var(--cs-blur-top);
    right: var(--cs-blur-right);
    bottom: var(--cs-blur-bottom);
    left: var(--cs-blur-left);
    height: 20rem;
    width: 20rem;
    opacity: .1;
    z-index: -1;
    filter: blur(100px);
    @apply bg-brand-color;
    transform: translate(0, -50%);
}
.cs-blur.cs-blur--right::after {
    --cs-blur-right: 0;
}

.cs-blur.cs-blur--top::after {
    --cs-blur-top: 0;
}

.cs-blur.cs-blur--center::after {
    --cs-blur-right: 50%;
    --cs-blur-top: 50%;
    transform: translate(50%, -50%);
}

.cs-notice {
    @apply bg-brand-color rounded py-2 px-4 bg-opacity-20 flex gap-4 text-brand-color items-center;
}

.divider {
    width: 100%;
    height: 1px;
    max-width: 1200px;
    background-image: linear-gradient(90deg, rgba(71, 71, 65, 0), #474741 50%, rgba(71, 71, 65, 0));
    margin-left: auto;
    margin-right: auto;
}

.bg-in-squares {
    background-color: #242424;
    background-image: url('/tiles.svg');
}