/* @import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300..600&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body{
    @apply bg-brand-bg text-white;
    font-family: Inter, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.025rem;
}

body.menu-open, body.modal-open {
    overflow: hidden;
}

.container {
    @apply mx-auto max-w-5xl relative;
    width: calc(100% - 2rem);
}

.sm-container {
    @apply max-w-2xl;
}

/* TYPOGRAPHY */
h1,h2,h3,h4 {
    font-weight: 400;
    line-height: 1.15;
}

.hero-title {
    @apply font-semibold text-4xl md:text-6xl text-white;
    line-height: 1.2;
}

.subtitle {
    font-weight: 300;
    line-height: 1.3;
    @apply md:text-lg text-brand-gray-dark;
}

section {
    @apply py-12 md:py-16
}

p {
    @apply mb-4 md:mb-6;
}

.btn {
    @apply h-10 px-8 rounded-full inline-flex gap-3 items-center justify-center text-lg;
}
.btn-primary {
    @apply bg-brand-gray text-brand-black border-brand-gray border;
}
.btn-primary.btn-light {
    @apply bg-brand-black-light border-brand-black-light text-white ;
}

.btn-primary.btn-outline {
    @apply bg-opacity-0 border-brand-black text-brand-black;
}

.btn-secondary {
    @apply bg-brand-color text-brand-color bg-opacity-20 border border-brand-color border-opacity-0
}

input {
    @apply rounded-lg border py-2 px-4 w-full border-brand-black outline-none;
}

textarea {
    @apply rounded py-2 px-4 w-full h-24 max-h-36 outline-none;
    min-height: 6rem;
}

/* .formkit-outer {
    @apply mt-6;
} */

.formkit-messages {
    @apply text-[#c62828];
}
.formkit-messages .formkit-message {
    @apply mt-1 text-xs;
}

.formkit-help {
    @apply text-xs opacity-70 mt-1;
}
.formkit-options {
    @apply p-4 border border-brand-black rounded
}
.formkit-option .formkit-wrapper, .formkit-cerere-terms .formkit-wrapper {
    @apply flex items-center gap-4;
}

.formkit-cerere-terms .formkit-wrapper {
    @apply cursor-pointer;
}

.card {
    @apply rounded-lg px-4 py-10 md:px-8 md:py-14 shadow-md bg-brand-black overflow-hidden;
}

.card.light {
    @apply bg-brand-gray text-brand-bg;
}

.blog-page .card {
    @apply py-4 md:py-8
}

.card-title, .title {
    @apply text-[1.75rem] md:text-4xl mb-6 md:mb-8;
    font-weight: 500;
}

.page-title {
    @apply text-3xl text-center md:text-5xl mb-8 md:mb-16;
    font-weight: 600;
}

input[type="range"]::-webkit-slider-thumb {
    width: 24px;
    -webkit-appearance: none;
    appearance: none;
    height: 24px;
    cursor: ew-resize;
    border-radius: 50%;
    @apply border-brand-black-light bg-brand-color;
}

.input-calculator {
    @apply rounded-lg bg-transparent px-2 text-white bg-brand-black-light border-0 outline-none font-bold text-2xl w-[8.5rem] text-right;
}

/* Chrome, Safari, Edge, Opera */
.input-calculator::-webkit-outer-spin-button,
.input-calculator::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.cs-blur {
    isolation: isolate;
    position: relative;
    --cs-blur-top: auto;
    --cs-blur-right: auto;
    --cs-blur-bottom: auto;
    --cs-blur-left: auto;
}
.cs-blur::after {
    content: "";
    position: absolute;
    top: var(--cs-blur-top);
    right: var(--cs-blur-right);
    bottom: var(--cs-blur-bottom);
    left: var(--cs-blur-left);
    height: 20rem;
    width: 20rem;
    opacity: 0.075;
    z-index: -1;
    filter: blur(100px);
    @apply bg-brand-color;
    transform: translate(0, -50%);
}
.cs-blur.cs-blur--right::after {
    --cs-blur-right: 0;
}

.cs-blur.cs-blur--top::after {
    --cs-blur-top: 0;
}

.cs-blur.cs-blur--center::after {
    --cs-blur-right: 50%;
    --cs-blur-top: 50%;
    transform: translate(50%, -50%);
}

.divider {
    width: 100%;
    height: 1px;
    max-width: 1200px;
    background-image: linear-gradient(90deg, rgba(71, 71, 65, 0), #474741 50%, rgba(71, 71, 65, 0));
    margin-left: auto;
    margin-right: auto;
}

.bg-in-squares {
    position: relative;
    background-image: url('/tiles.svg');
}

.bg-in-squares:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #242424;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 70%);
}

.richtext a {
    font-weight: bold;
    text-decoration: underline;
}

.richtext ul {
    list-style: disc;
    padding-left: 2rem;
    margin: 0;
}

.richtext img {
    margin: auto;
}

.richtext h3, .richtext h2 {
   @apply text-xl font-bold mb-6 mt-16;
}

.richtext h2 {
    @apply text-2xl;
}

.richtext b {
    @apply font-bold;
}

.richtext h2 + h3, .richtext>h3:first-of-type {
    @apply mt-0;
}


.menu-slide-enter-active,
.menu-slide-leave-active {
    transition: all 0.3s ease;
}

.menu-slide-enter-from,
.menu-slide-leave-to {
    opacity: 0;
    transform: translateY(56px);
}

.recenzii-divider:before, .recenzii-divider:after {
    content: "";
    height: 1px;
    width: 100%;
    opacity: 0.4;
}

.recenzii-divider:before {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.recenzii-divider:after {
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
