/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-border: #212121;
    --ui-text: #fafafa;
    --ui-bg-accented: #333333;
}

@theme static {
    --color-brand-50: #fffbea;
    --color-brand-100: #fff3c5;
    --color-brand-200: #ffe685;
    --color-brand-300: #ffd346;
    --color-brand-400: #ffbd1b;
    --color-brand-500: #ff9a00;
    /* main color  */
    --color-brand-600: #e27300;
    --color-brand-700: #bb4e02;
    --color-brand-800: #983c08;
    --color-brand-900: #7c310b;
    --color-brand-950: #481700;

    --color-black-50: #e5e5e5;
    --color-black-100: #c9c9c9;
    --color-black-200: #989898;
    --color-black-300: #333333;
    --color-black-400: #212121;
    --color-black-500: #141414;
    --color-black-600: #111111;
    --color-black-700: #0e0e0e;
    --color-black-800: #0b0b0b;
    --color-black-900: #040404;
    --color-black-950: #040404;

    --color-green-50: #f6f9f4;
    --color-green-100: #ebf1e7;
    --color-green-200: #d6e3cf;
    --color-green-300: #b5cca9;
    --color-green-400: #86a873;
    --color-green-500: #6c8f58;
    --color-green-600: #567445;
    --color-green-700: #455d38;
    --color-green-800: #3a4b30;
    --color-green-900: #303e29;
    --color-green-950: #172013;

    --color-blue-50: #f5f7fa;
    --color-blue-100: #ebeff3;
    --color-blue-200: #d2dbe5;
    --color-blue-300: #abbdce;
    --color-blue-400: #7d99b3;
    --color-blue-500: #577590;
    --color-blue-600: #496480;
    --color-blue-700: #3c5168;
    --color-blue-800: #344558;
    --color-blue-900: #2f3c4b;
    --color-blue-950: #1f2732;

    --color-gray-50: #f7f7f7;
    --color-gray-100: #f0f0f0;
    --color-gray-200: #e3e3e3;
    --color-gray-300: #d1d1d1;
    --color-gray-400: #c2c2c2;
    --color-gray-500: #aaaaaa;
    --color-gray-600: #969696;
    --color-gray-700: #818181;
    --color-gray-800: #6a6a6a;
    --color-gray-900: #585858;
    --color-gray-950: #333333;

    /* --color-gray-50: #f6f6f6;
    --color-gray-100: #e7e7e7;
    --color-gray-200: #d1d1d1;
    --color-gray-300: #b0b0b0;
    --color-gray-400: #888888;
    --color-gray-500: #6d6d6d;
    --color-gray-600: #5d5d5d;
    --color-gray-700: #4f4f4f;
    --color-gray-800: #454545;
    --color-gray-900: #3d3d3d;
    --color-gray-950: #212121; */
}

@layer base {
    * {
        @apply border-(--ui-border)
    }
}

@layer utilities {
    /* .text-default {
        color: #fafafa;
    } */
}

@import "./global.css";
@import "./blog.css";